body {
    
    margin: 0;
    display:flex;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    font-weight: 400;
    ;
  }

  .sidebar {
      color: #778192;
      background-color: #25262D;
  }

  .side-header {
      display: flex;
      width: 246px;
      height: 72px;
  }
  .side-body {
     width: 246px;
     height: 648px;
     font-size: 15px;
     
  }
  .side-footer {
      width: 246px;
      height: 48px;
  }

  main {
    
    width: 1120px;
    background-color: #E5E5E5;
    color: #25262D;
}

header {
    display: flex;
}
.main-header {
    display: flex;
}
.search {
    display: flex;
}