body {
     margin: 0;
     display:flex;
     font-family: "Roboto";
     font-size: 14px;
     line-height: 22px;
     color: #212121;
     font-weight: 400;
    }
  main {
    width: 1120px;
    background-color: #E5E5E5;
    color: #25262D;
    }
  
  .sidebar {
      color: #778192;
      background-color: #25262D;
    }

  .side-header {
      display: flex;
      width: 246px;
      height: 72px;
      border-bottom: #393A42 solid 1px;
      font-size: 16px;
    }
  .side-logo {
      margin-top: 13.7px;
      margin-left: 14.8px;
      width: 44.5px;
      height: 44.5px;
      background-color: #FFFFFF;
      border-radius: 50%;
    }
  .side-logo-img {
      margin: 17px 0 0 8px;
      width: 30px;
      height: 9px;
    }
  .side-name {
      margin-top: 26.5px;
      margin-left: 10px;
    }
  .side-footer {
      display: flex;
      width: 246px;
      height: 48px;
      border-top: #393A42 solid 1px;
    }
    .side-icon {
        margin-top: 27px;
        margin-left: 40px;
        
    }

  
  .topic {
      color: #B9C1CE;
      font-size: 11px;
      font-style: normal;
      font-weight: normal;
  }
  .left-logo {
      margin: 24px 0 0 33px;
      width: 14px;
      height: 14px;
  }
  .selected-logo-img {
    margin: 15px 0 0 16px;
    width: 14px;
    height: 14px;
  }
  .logo-footer {
      margin-left: 32px;
      width: 14px;
      height: 14px;
  }
  .links {
      margin-left: 17px;
      width: 150px;
      height: 22px;
      color:#778192;
      text-decoration: none;
  }
  .white-link {
      color: white;
  }
  .selected-link {
      margin: 10px 13px 0 16px;
      width: 214px;
      height: 48px;
      border-radius: 4px;
      background-color: #393A42;
  }

  .side-body {
    display: flex;
    flex-direction: column;
     width: 246px;
     height: 648px;
     font-size: 15px;
  }
  .upper-body-company{
      margin: 24px 40px 0 32px ;
      width: 174px;
      height: 13px;
    }
  .rollUp {
      margin: 13px 0 0 16px;
      width:150px;
      height: 22px; 
    }
  .company-rollUp {
      display: flex;
  }
  .angle-arrow {
      margin: 30px 27px 0 0;
  }
  .company-rollUp2 {
    display: flex;
}
.angle-down-arrow {
    margin: 23px 0 0 6px;
    padding-right: 10px;  
}
.bottom-body-company {
    margin: 15px 0 0 32px;
    width: 174px;
    height: 13px;
}
.icon {
    fill: #778192;
}

.angle-right {
    width: 8px;
    height: 6px;
    fill: #B9C1CE;
    margin: 30px 16px 0 6px;
    padding-right: 10px;
}
.icon-company {
    color:black;
}
.content {
  width: 1088px;
  height: 650px;
  margin: 16px;
  
}
.content-header {
  display: flex;
  justify-content: space-between;
  width:1088px;
  height: 38px;
}
.all-bills {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
.text-button {
  color:#FFFFFF;
  font-size: 15px;
}
.content-body {
  width:1088px;
  height: 595px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  margin-top: 13px;
}
.checks-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 38px;
  background: #7840B0;
  border-radius: 4px;
}
.content-options {
  display: flex;
  align-items: center;
  width: 1068px;
  height: 49px;
  padding-left: 20px;
}
.chosen-options{
  display: flex;
  align-items: center;
  height:47px;
  border-bottom: #7840B0 solid 2px;
  
}
.link-options {
  margin-right: 32px;

}
 a {
  text-decoration: none;
  color: #25262D;
  font-size: 14px;
  line-height: 16px;
}
li {
  list-style-type: none;
}
.content-filter {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
.first-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 258px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 12px;
}
.second-filter {
  display: flex;
  align-items: center;
  width: 434px;
  height: 40px;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(37, 38, 45, 0.25);
  padding-left: 12px;
}
.third-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 166px;
  height: 40px;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #E8E8E8;
  font-size: 14px;
  line-height: 16px;
  color: #25262D;
  padding-left: 12px;
}
.fourth-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 166px;
  height: 40px;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #E8E8E8;
  font-size: 14px;
  line-height: 16px;
  color: #778192;
  padding-left: 12px;
}
.icon-filter {
  width: 8px;
  height: 6px;
  margin-right: 17px;
}
.table-header {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom: #E8E8E8 solid 1px;
}
.bill-number {
  display: flex;
}
.check-box {
  margin-right: 16px;
}
.date {
  display: flex;
  margin-left: 71px;
}
.point-operation {
  margin-left: 80px;
}
.summ {
  display: flex;
  margin-left: 53px;
}
.recived {
  margin-left: 58px;
}
.status {
  display: flex;
  margin-left: 108px;
}
.table-triangle {
  margin-left: 5px;
}
.table-row {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom: #E8E8E8 solid 1px;
}
.first-row {
  display: flex;
}
.first-column {
  width: 66px;
  height: 18px;
}
.second-colummn {
  width: 109px;
  height: 18px;
  margin-left: 76px;
}
.third-colummn {
  width: 108px;
  height: 18px;
  margin-left: 60px;
}
.fourth-colummn {
  width: 67px;
  height: 18px;
  margin-left: 92px;
}
.fifth-colummn {
  width: 50px;
  height: 18px;
  margin-left: 50px;
}
.sixth-colummn {
  width: 109px;
  height: 18px;
  margin-left: 100px;
}