body {
    
    margin: 0;
    display:flex;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    font-weight: 400;
    
  }

  .sidebar {
      color: #778192;
      background-color: #25262D;
  }

  .side-header {
      display: flex;
      width: 246px;
      height: 72px;
      border-bottom: #393A42 solid 1px;
      font-size: 16px;
  }
  
  .side-logo {
    margin-top: 13.7px;
    margin-left: 14.8px;
    width: 44.5px;
    height: 44.5px;
    background-color: #FFFFFF;
    border-radius: 50%;
    
    
  }
  .side-logo-img {
    margin: 17px 0 0 8px;
    width: 30px;
    height: 9px;
  }

    .side-icon {
        margin-top: 27px;
        margin-left: 40px;
        
    }

  .side-name {
      margin-top: 26.5px;
      margin-left: 10px;
  }
  .upper-body-company {
      color: #B9C1CE;
  }
  .left-logo {
      margin: 24px 0 0 33px;
      width: 14px;
      height: 14px;
  }
  .links {
      margin-left: 17px;
      width: 150px;
      height: 22px;

  }

  .side-body {
    display: flex;
    flex-direction: column;
     width: 246px;
     height: 648px;
     font-size: 15px;
  }
  .upper-body-company{
      margin: 24px 40px 0 32px ;
      width: 174px;
      height: 13px;
      
  }
  
  
  .side-body a {
      color:#778192;
      text-decoration: none;
    
  }
  .side-footer {
      width: 246px;
      height: 48px;
  }

  main {
    
    width: 1120px;
    background-color: #E5E5E5;
    color: #25262D;
}


header {
    display: flex;
}
.main-header {
    display: flex;
}
.search {
    display: flex;
}