body {
    
    margin: 0;
    display:flex;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    font-weight: 400;
    
  }

  .sidebar {
      color: #778192;
      background-color: #25262D;
  }

  .side-header {
      display: flex;
      width: 246px;
      height: 72px;
      border-bottom: #393A42 solid 1px;
      font-size: 16px;
  }
  
  .side-logo {
    display:flex;
    margin-top: 13.7px;
    margin-left: 14.8px;
    width: 44.5px;
    height: 44.5px;
    background-color: #FFFFFF;
    border-radius: 50%;
    
  }
  .side-logo-img {
    margin:auto;
}
    .side-icon {
        margin-top: 27px;
        margin-left: 19px;
    }

  .side-name {
      margin-top: 26.5px;
      margin-left: 9.6px;
  }
  
  .side-body {
    display: flex;
    flex-direction: column;
     width: 246px;
     height: 648px;
     font-size: 15px;
  }
  .upper-body-company{
      width: 174px;
      height: 13px;
      border: solid 1px chartreuse;
  }
  .company-link {
      margin: auto;
      width: 246px;
  }
  .side-body a {
      color:#778192;
      text-decoration: none;
    
  }
  .side-footer {
      width: 246px;
      height: 48px;
  }

  main {
    
    width: 1120px;
    background-color: #E5E5E5;
    color: #25262D;
}

header {
    display: flex;
}
.main-header {
    display: flex;
}
.search {
    display: flex;
}